@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<br>
<p class="display-5">Ao acessar nosso conteúdo você aceita que troquemos seus dados por cupons de desconto em redes de fast food.</p>
